<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/user_login_css.css}">
    <title>Quokka's Login</title>
    <script th:src="@{/js/loginRegister.js}" th:inline="javascript"></script>
</head>
<body>
<div class="content1" layout:fragment="content">
    <form th:action="@{/user/userInsertCoin}" method="post" class="container">
        <div th:each="userDto : ${usersDto}">
            <h2><p>사용자 잔액: <span th:text="${userDto.money}"></span></p></h2>

            <div>
                <div> 충전 </div>
                <div class="form-check">
                    <input type="radio" id="money" name="amount" value="1" class="form-check-input">
                    <label class="form-check-label">1000원</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="money" name="amount" value="2" class="form-check-input">
                    <label class="form-check-label">2000원</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="money" name="amount" value="3" class="form-check-input">
                    <label class="form-check-label">3000원</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="money" name="amount" value="4" class="form-check-input">
                    <label class="form-check-label">5000원</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="money" name="amount" value="5" class="form-check-input">
                    <label class="form-check-label">10000원</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="money" name="amount" value="6" class="form-check-input">
                    <label class="form-check-label">20000원</label>
                </div>
            </div>

            <input type="hidden" name="userNo" th:value="${userDto.userNo}">
            <input type="submit" value="Save" class="btn btn-primary">
            <br>
            <a href="/">Go back</a>
        </div>
    </form>
</div>

</body>
</html>
